/* home sections */

.home-page .section .item-row {
    justify-content: center;
}
[v-cloak] .products-tabs {
    display: none;
}


/* products tabs */

.products-tabs .nav-tabs {
    justify-content: center;
}
.products-tabs .nav-tabs .nav-link {
	position: relative;
	margin: 0 0 1px 0;
	padding: 14px 16px;
	color: #212529;
	font-size: 22px;
	font-weight: 400;
	border: 0;
}
.products-tabs .nav-tabs .nav-link.active {
	font-weight: 700;
}
.products-tabs .nav-tabs .nav-link::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 3px;
	-webkit-transition: transform .3s cubic-bezier(.8,0,.2,1);
	transition: transform .3s cubic-bezier(.8,0,.2,1);
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	transform-origin: 100% 50%;
	border-top: 0;
	background-color: #ad783f;
	z-index: 4;
}
.products-tabs .nav-tabs .nav-link.active::after {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	transform-origin: 0% 50%;
}
.products-tabs-content {
	margin: 30px 0;
}
.products-tabs-content .section {
    padding: 0;
}

/* banners */

.home-page-banner {
	position: relative;
	top: -118px;
	padding: 15px 7.5px;
	background: #fff;
	z-index: 15;
}
.home-page-banner + * {
	margin-top: -118px;
}
.banner-col {
	padding: 0 7.5px;
}
.banner-content {
	display: flex;
	position: relative;
	cursor: pointer;
}
.banner-content .text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	z-index: 2;
}
.banner-content .text .title {
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	margin: 0 0 5px 0;
}
.banner-content .text .content {
	color: #a2a2a2;
	font-size: 14px;
	font-weight: 500;
}
.banner-content img {
	max-width: 100%;
	width: auto;
	height: auto;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.banner-content .text::before, .banner-content .text::after {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	z-index: 3;
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	box-sizing: border-box;
	-webkit-transform: scale(0);
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.banner-content .text::before {
	border-bottom: 2px solid #ddd;
	border-left: 2px solid #ddd;
	-webkit-transform-origin: 0 100%;
}
.banner-content .text::after {
	border-top: 2px solid #ddd;
	border-right: 2px solid #ddd;
	-webkit-transform-origin: 100% 0%;
}
.banner-content .text:hover::after, .banner-content .text:hover::before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* home page section */

.home-page-section {
    overflow: hidden;
}
.home-page-section .b-skeleton {
    border-radius: 4px;
}

/* home page categories */

.cat-gallery {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-gap: 10px;
    width: 100%;
    overflow: hidden;
}
.cat-gallery .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.cat-gallery .gallery-item {
    position: relative;
}
.cat-gallery .gallery-item h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    z-index: 2;
}
.cat-gallery .gallery-item:nth-child(4n-3) {
    grid-column: 1;
    grid-row: 1/3;
}
.cat-gallery .gallery-item:nth-child(4n-2) {
    grid-column: 2;
    grid-row: 1;
}
.cat-gallery .gallery-item:nth-child(4n-1) {
    grid-column: 2;
    grid-row: 2;
}
.cat-gallery .gallery-item:nth-child(4n) {
    grid-column: 3;
    grid-row: 1/3;
}

/* category manufacturer featured products */

.featured-product-grid .category-container .category-image {
    position: relative;
}
.featured-product-grid .category-container .category-image .content {
    position: absolute;
    bottom: 15px;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.featured-product-grid .category-container .category-image .content .title {
    font-size: 28px;
    font-weight: 700;
}
.featured-product-grid .category-container .category-image .content .desc {
    font-size: 18px;
    font-weight: 300;
}
.featured-product-grid .category-container:nth-child(even) .category-image {
    margin: 0 0 15px 0;
    order: 1;
}
.featured-product-grid .category-container:nth-child(even) .category-product {
    order: 2;
} 

@media (max-width: 991px) {
    .home-page-banner + * {
        margin-top: 0;
    }
    #GrandCarousel .carousel-indicators {
        bottom: 0;
    }
    .section {
        padding: 15px 0;
    }
    .gallery-item h3 {
        font-size: 20px;
    }
}
@media (max-width: 575px) {
    #GrandCarousel .h1 {
        font-size: 24px;
    }
    #GrandCarousel .h5 {
        font-size: 16px;
    }
    #GrandCarousel .btn {
        padding: 5px 10px;
        font-size: 14px;
    }
    .cat-gallery {
        display: inline-flex;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .cat-gallery .gallery-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .featured-product-grid .category-container .category-product {
        order: 2;
    }
    .featured-product-grid .category-container .category-image {
        order: 1;
        margin: 0 0 15px 0;
    }
    .products-tabs .nav-tabs {
        justify-content: flex-start;
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .products-tabs .nav-tabs .nav-link {
        font-size: 16px;
    }
    .generalTitle span::before {
        top: 18px;
    }
}