@model FooterCleanModel
<footer class="mt-3 p-0">
    <div class="container max-100">
        @await Component.InvokeAsync("Widget", new { widgetZone = "before_footerclean" })
        <div class="footer-lower mt-0 border-0 small">
            <div class="row">
                <div class="col-12 col-md pb-1 pt-1 flex-column text-lg-left text-center copyright">
                    <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                </div>
                <div class="col-12 col-md-4  pb-1 pt-1 text-center text-lg-right">
                    <span>Shopping cart software by </span><a class="pr-1 text-success" href="https://grandnode.com/">GrandNode</a>™
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "after_footerclean" })
    </div>
</footer>
<a href="#" id="back-to-top" title="Back to top">
    <span class="up-arrow"></span>
    <span class="sr-only">back to top</span>
</a>