@inject IThemeContext themeContext
@inject IPageHeadBuilder pagebuilder
@{
    Layout = "_Root";
}
@{
    var themeName = themeContext.WorkingThemeName;

    pagebuilder.AppendScriptParts(ResourceLocation.Footer, string.Format("~/Themes/{0}/Content/js/catalog.js", themeName));

    //current category ID
    string currentCategoryId = "";
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.OrdinalIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.OrdinalIgnoreCase))
    {
        currentCategoryId = Url.ActionContext.RouteData.Values["categoryId"].ToString();
    }


    //current manufacturer ID
    string currentManufacturerId = "";
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.OrdinalIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.OrdinalIgnoreCase))
    {
        currentManufacturerId = Url.ActionContext.RouteData.Values["manufacturerId"].ToString();
    }


    //current product ID
    string currentProductId = "";
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.OrdinalIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.OrdinalIgnoreCase))
    {
        currentProductId = Url.ActionContext.RouteData.Values["productId"].ToString();
    }
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}

@if (!string.IsNullOrEmpty(currentCategoryId))
{
    @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_category", additionalData = Model.Id })
}
@if (!string.IsNullOrEmpty(currentManufacturerId))
{
    @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_manufacturer", additionalData = Model.Id })
}
<div class="container-fluid px-lg-4 px-3">
    <div class="row">
        <div class="col-lg-3 col-md-12 generalLeftSide c-scrlbar SideBar order-1">
            @if (IsSectionDefined("left"))
            {
                @RenderSection("left")
            }
            else
            {
                if (IsSectionDefined("filters"))
                {
                    @RenderSection("filters")
                }

                @await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_before" })
                @await Component.InvokeAsync("CategoryNavigation", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
                @await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_after_category_navigation" })
                @await Component.InvokeAsync("ManufacturerNavigation", new { currentManufacturerId = currentManufacturerId })
                @await Component.InvokeAsync("VendorNavigation")
                @await Component.InvokeAsync("RecentlyViewedProductsBlock", new { productThumbPictureSize = 64 })
                @await Component.InvokeAsync("PopularProductTags")
                @await Component.InvokeAsync("PollBlock", new { systemKeyword = "LeftColumnPoll" })
                @await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_after" })
            }
        </div>
        <div class="col-lg-9 col-md-12 generalSideRight order-0">
            @await Component.InvokeAsync("Widget", new { widgetZone = "main_column_before" })
            @RenderBody()
            @await Component.InvokeAsync("Widget", new { widgetZone = "main_column_after" })
        </div>
    </div>
</div>
<aside class="js-offcanvas SideBarMobile" data-offcanvas-options='{"modifiers":"left,overlay","modal":true,"resize":false}' id="LeftSideCatalog"></aside>