@model Grand.Plugin.Payments.GarantiPay.Models.BankPos.OmniBankPosModel
<vc:admin-widget widget-zone="bank_pos_details_top" additional-data="Model" />
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Name" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="IsActive" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="IsActive" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="IsActive"></span>
            </div>
        </div>
    </div>
</div>

<vc:admin-widget widget-zone="bank_pos_details_bottom" additional-data="Model" />
