.post-news,
.post-news .card-header,
.post-news .card-footer {
    border: 0;
    border-radius: 0;
    background-color: transparent;
}
.post-news .card-header {
    padding: 0;
}
.post-news .card-body,
.post-news .card-footer {
    padding: 10px 0;
}
.post-news .img-container {
    position: relative;
    display: flex;
    align-items: center;
}
.post-news img {
    max-width: 100%;
}
.post-news .category {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    background-color: #ad783f;
    text-align: center;
}
.post-news .title {
    margin: 10px 0;
}
.post-news .title a {
    font-size: 22px;
    font-weight: 700;
}
.post-news .date {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.post-news .date {
    color: #888;
    font-size: 14px;
    font-weight: 400;
}
.post-news .date .part:not(:last-child) {
    margin: 0 3px 0 0;
}
.post-news .date .month {
    text-transform: capitalize;
}
.post-news .date .month::after {
    content: ",";
    position: relative;
}
.post-news .short {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}